# .NET
bin/
obj/
*.user
*.suo
.vs/
*.db
*.db-shm
*.db-wal
logs/
appsettings.Development.json
appsettings.*.json
!appsettings.json

# NuGet
*.nupkg
*.snupkg

# Test & coverage
TestResults/
coverage/

# Angular / Node
web/**/node_modules/
web/**/.angular/
web/**/dist/
web/**/playwright-report/
web/**/test-results/

# OS
.DS_Store
Thumbs.db
